#{extends 'main.html' /} #{set title:'Web Service' /}

<style>
  .team-boxed {
  color:#313437;
  background-color:#eef4f7;
}

.team-boxed p {
  color:#7d8285;
}

.team-boxed h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}


.team-boxed .intro p {
  margin-bottom:0;
}

.team-boxed .people {
  padding:50px 0;
}

.team-boxed .item {
  text-align:center;
}

.team-boxed .item .box {
  text-align:left;
  padding:30px;
  background-color:#fff;
  margin-bottom:30px;
}

.team-boxed .item .name {
  font-weight:bold;
  margin-top:28px;
  margin-bottom:8px;
  color:inherit;
}

.team-boxed .item .title {
  text-transform:uppercase;
  font-weight:bold;
  color:#d0d0d0;
  letter-spacing:2px;
  font-size:13px;
}

.team-boxed .item .description {
  font-size:15px;
  margin-top:15px;
  margin-bottom:20px;
}

</style>
<div class="container" style="margin-top:150px;">
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Everything you need to get anything done, now in one place</h2>
                <p class="text-center">Kami menyediakan paket web service untuk kebutuhan bisnis anda.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <h4 class="name" style="text-align: center">Web Service Pemerintah Pusat</h4>
                        <p class="title" style="text-align: center">Data update setiap 1 hari</p>
                        <p class="description">Web service ini menyediakan data paket pengadaan dengan parameter {KodeKldi} atau {kdSatker} dan {tahunAnggaran} service dapat berupa JSON, XML atau CSV<br>
                            contoh :  <a class="genric-btn success circle small" href="http://meroket.cyou/genos/serviceCtr/masterKlpd" target="_blank">Klik di sini</a>
                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <h4 class="name" style="text-align: center">Web Service Pemerintah Daerah</h4>
                        <p class="title" style="text-align: center">Data update setiap 1 hari</p>
                        <p class="description">
                            Web service ini menyediakan data paket pengadaan dengan parameter {KodeKldi} atau {kdSatker} dan {tahunAnggaran} service dapat berupa JSON, XML atau CSV<br>
                            contoh :  <a class="genric-btn success circle small" href="http://meroket.cyou/genos/serviceCtr/masterKlpd" target="_blank">Klik di sini</a>
                        </p>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <h4 class="name" style="text-align: center">Web Service Pusat dan Daerah</h4>
                        <p class="title" style="text-align: center">Data update setiap 3 jam</p>
                        <p class="description">
                            Web service ini menyediakan data paket pengadaan dengan parameter {KodeKldi} atau {kdSatker} dan {tahunAnggaran} service dapat berupa JSON, XML atau CSV<br>
                            contoh :  <a class="genric-btn success circle small" href="http://meroket.cyou/genos/serviceCtr/masterKlpd" target="_blank">Klik di sini</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>