#{extends 'main.html' /} #{set title:'Monev' /}


<div class="what-we-do">
    <div class="services-area">
        <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <h2>Bantu kami mengenal anda</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 col-md-9" >
                    <div class="single-do text-center mb-30" >
                        <div class="do-icon">
                            <span  class="flaticon-social-media-marketing"></span>
                        </div>
                        <div class="do-caption">
                            <h4 >Berpengalaman</h4>
                            <p>Anda sudah pernah mengikuti atau mengerjakan paket pekerjaan pengadaan barang/jasa pemerintah</p>
                        </div>
                        <div class="do-btn">
                            <a class="genric-btn success circle" href="@{MonevCtr.daftarKlpd()}" style="text-decoration:none;">get started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="single-do text-center mb-30">
                        <div class="do-icon">
                            <span  class="flaticon-project"></span>
                        </div>
                        <div class="do-caption">
                            <h4>Pemula</h4>
                            <p>Anda belum memahami apa itu pengadaan barang/jasa pemerintah</p>
                        </div>
                        <div class="do-btn">
                            <a class="genric-btn success circle" href="@{MonevCtr.pemula2()}" style="text-decoration:none;">get started</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>


