#{extends 'main.html' /} #{set title:'Panduan PBJ' /}

    <link rel="stylesheet" href="@{'/public/assetsP/plugins/prism/prism.css'}">
    <link rel="stylesheet" href="@{'/public/assetsP/plugins/elegant_font/css/style.css'}">
    <link rel="stylesheet" href="@{'/public/assetsP/css/stylesd.css'}">

<div class="services-area">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="section-tittle text-center mb-80">
                <h2>Dokumentasi Pengadaan Barang Jasa Pemerintah</h2>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="download-section" class="doc-section">
                                <h2 class="section-title">Istilah dalam pengadaan</h2>
                                <div id="is1" class="section-block">
                                    <h4 class="block-title">Pengadaan Barang Jasa Pemerintah (PBJP)</h4>
                                    <p> Kegiatan pengadaan barang / jasa oleh Kementerian / Lembaga / Perangkat Daerah yang
                                        di biayai oleh APBN / APBD yang prosesnya sejak identifikasi kebutuhan, sampai
                                        dengan serah terima hasil pekerjaan </p>
                                </div>
                                <div id="is2" class="section-block">
                                    <h4 class="block-title">Pengguna Anggaran</h4>
                                    <p>Pengguna Anggaran yang selanjutnya disingkat PA adalah
                                        pejabat pemegang kewenangan penggunaan anggaran
                                        Kementerian Negara/Lembaga/Perangkat Daerah </p>
                                </div>
                                <div id="is3" class="section-block">
                                    <h4 class="block-title">Kuasa Pengguna Anggaran</h4>
                                    <p>Kuasa Pengguna Anggaran pada Pelaksanaan APBD yang
                                        selanjutnya disingkat KPA adalah pejabat yang diberi
                                        kuasa untuk melaksanakan sebagian kewenangan
                                        pengguna anggaran dalam melaksanakan sebagian tugas
                                        dan fungsi Perangkat Daerah </p>
                                </div>
                                <div id="is4" class="section-block">
                                    <h4 class="block-title">Pejabat Pembuat Komitmen</h4>
                                    <p>Pejabat Pembuat Komitmen yang selanjutnya disingkat
                                        PPK adalah pejabat yang diberi kewenangan oleh PA/KPA
                                        untuk mengambil keputusan dan/atau melakukan
                                        tindakan yang dapat mengakibatkan pengeluaran
                                        anggaran belanja negara/anggaran belanja daerah.</p>
                                </div>
                                <div id="is5" class="section-block">
                                    <h4 class="block-title">Swakelola</h4>
                                    <p>Pengadaan Barang/Jasa melalui Swakelola yang
                                        selanjutnya disebut Swakelola adalah cara memperoleh
                                        barang/jasa yang dikerjakan sendiri oleh
                                        Kementerian/Lembaga/Perangkat Daerah, Kementerian/
                                        Lembaga/Perangkat Daerah lain, organisasi
                                        kemasyarakatan, atau kelompok masyarakat</p>
                                </div>
                                <div id="is6" class="section-block">
                                    <h4 class="block-title">Penyedia</h4>
                                    <p>Pengadaan Barang/Jasa melalui Penyedia adalah cara
                                        memperoleh barang/jasa yang disediakan oleh Pelaku
                                        Usaha</p>
                                </div>
                                <div id="is7" class="section-block">
                                    <h4 class="block-title">Pelaku Usaha</h4>
                                    <p>Pelaku Usaha adalah setiap orang perorangan atau badan
                                        usaha, baik yang berbentuk badan hukum maupun bukan
                                        badan hukum yang didirikan dan berkedudukan atau
                                        melakukan kegiatan dalam wilayah hukum negara
                                        Republik Indonesia, baik sendiri maupun bersama-sama
                                        melalui perjanjian menyelenggarakan kegiatan usaha
                                        dalam berbagai bidang ekonomi</p>
                                </div>
                                <div id="is8" class="section-block">
                                    <h4 class="block-title">Barang dalam konteks PBJP</h4>
                                    <p>Barang adalah setiap benda baik berwujud maupun tidak
                                        berwujud, bergerak maupun tidak bergerak, yang dapat
                                        diperdagangkan, dipakai, dipergunakan atau
                                        dimanfaatkan oleh Pengguna Barang</p>
                                </div>
                                <div id="is9" class="section-block">
                                    <h4 class="block-title">Pekerjaan Konstruksi dalam konteks PBJP</h4>
                                    <p>Pekerjaan Konstruksi adalah keseluruhan atau sebagian
                                        kegiatan yang meliputi pembangunan, pengoperasian,
                                        pemeliharaan, pembongkaran, dan pembangunan kembali
                                        suatu bangunan</p>
                                </div>
                                <div id="is10" class="section-block">
                                    <h4 class="block-title">Jasa Konsultansi dalam konteks PBJP</h4>
                                    <p>Jasa Konsultansi adalah jasa layanan profesional yang
                                        membutuhkan keahlian tertentu diberbagai bidang
                                        keilmuan yang mengutamakan adanya olah pikir</p>
                                </div>
                                <div id="is11" class="section-block">
                                    <h4 class="block-title">Jasa Lainnya dalam konteks PBJP</h4>
                                    <p>Jasa Lainnya adalah jasa non-konsultansi atau jasa yang
                                        membutuhkan peralatan, metodologi khusus, dan/atau
                                        keterampilan dalam suatu sistem tata kelola yang telah
                                        dikenal luas di dunia usaha untuk menyelesaikan suatu
                                        pekerjaan</p>
                                </div>
                            </section><!--//doc-section-->

                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky">
                                <a class="nav-link scrollto" href="#download-section">Istilah Dalam PBJ</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#is1">Pengadaan Barang Jasa</a>
                                    <a class="nav-link scrollto" href="#is2">Pengguna Anggaran</a>
                                    <a class="nav-link scrollto" href="#is3">Kuasa Pengguna Anggaran</a>
                                    <a class="nav-link scrollto" href="#is4">Pejabat Pembuat Komitmen </a>
                                    <a class="nav-link scrollto" href="#is5">Swakelola</a>
                                    <a class="nav-link scrollto" href="#is6">Penyedia</a>
                                    <a class="nav-link scrollto" href="#is7">Pelaku Usaha</a>
                                    <a class="nav-link scrollto" href="#is8">Barang</a>
                                    <a class="nav-link scrollto" href="#is9">Pekerjaan Konstruksi</a>
                                    <a class="nav-link scrollto" href="#is10">Jasa Konsultansi</a>
                                    <a class="nav-link scrollto" href="#is11">Jasa Lainnya</a>
                                </nav>
                            </nav><!--//doc-menu-->
                        </div>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div><!--//page-wrapper-->
</div>

<script type="text/javascript" src="@{'/public/assetsP/plugins/prism/prism.js'}"></script>
<script type="text/javascript" src="@{'/public/assetsP/plugins/jquery-scrollTo/jquery.scrollTo.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assetsP/plugins/stickyfill/dist/stickyfill.min.js'}"></script>



