#{extends 'main.html' /} #{set title:'Panduan PBJ' /}

    <link rel="stylesheet" href="@{'/public/assetsP/plugins/prism/prism.css'}">
    <link rel="stylesheet" href="@{'/public/assetsP/plugins/elegant_font/css/style.css'}">
    <link rel="stylesheet" href="@{'/public/assetsP/css/stylesd.css'}">

<div class="services-area">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="section-tittle text-center mb-80">
                <h2>Dokumentasi Pengadaan Barang Jasa Pemerintah</h2>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body row">
                    <div class="doc-content col-md-9 col-12 order-1">
                        <div class="content-inner">
                            <section id="istilah-section" class="doc-section">
                                <h2 class="section-title">Istilah Dalam Pengadaan</h2>
                                <div id="is1" class="section-block">
                                    <h4 class="block-title">Pengadaan Barang Jasa Pemerintah (PBJP)</h4>
                                    <p> Kegiatan pengadaan barang / jasa oleh Kementerian / Lembaga / Perangkat Daerah yang
                                        di biayai oleh APBN / APBD yang prosesnya sejak identifikasi kebutuhan, sampai
                                        dengan serah terima hasil pekerjaan </p>
                                </div>
                                <div id="is2" class="section-block">
                                    <h4 class="block-title">Pengguna Anggaran</h4>
                                    <p>Pengguna Anggaran yang selanjutnya disingkat PA adalah
                                        pejabat pemegang kewenangan penggunaan anggaran
                                        Kementerian Negara/Lembaga/Perangkat Daerah </p>
                                </div>
                                <div id="is3" class="section-block">
                                    <h4 class="block-title">Kuasa Pengguna Anggaran</h4>
                                    <p>Kuasa Pengguna Anggaran pada Pelaksanaan APBD yang
                                        selanjutnya disingkat KPA adalah pejabat yang diberi
                                        kuasa untuk melaksanakan sebagian kewenangan
                                        pengguna anggaran dalam melaksanakan sebagian tugas
                                        dan fungsi Perangkat Daerah </p>
                                </div>
                                <div id="is4" class="section-block">
                                    <h4 class="block-title">Pejabat Pembuat Komitmen</h4>
                                    <p>Pejabat Pembuat Komitmen yang selanjutnya disingkat
                                        PPK adalah pejabat yang diberi kewenangan oleh PA/KPA
                                        untuk mengambil keputusan dan/atau melakukan
                                        tindakan yang dapat mengakibatkan pengeluaran
                                        anggaran belanja negara/anggaran belanja daerah.</p>
                                </div>
                                <div id="is5" class="section-block">
                                    <h4 class="block-title">Swakelola</h4>
                                    <p>Pengadaan Barang/Jasa melalui Swakelola yang
                                        selanjutnya disebut Swakelola adalah cara memperoleh
                                        barang/jasa yang dikerjakan sendiri oleh
                                        Kementerian/Lembaga/Perangkat Daerah, Kementerian/
                                        Lembaga/Perangkat Daerah lain, organisasi
                                        kemasyarakatan, atau kelompok masyarakat</p>
                                </div>
                                <div id="is6" class="section-block">
                                    <h4 class="block-title">Penyedia</h4>
                                    <p>Pengadaan Barang/Jasa melalui Penyedia adalah cara
                                        memperoleh barang/jasa yang disediakan oleh Pelaku
                                        Usaha</p>
                                </div>
                                <div id="is7" class="section-block">
                                    <h4 class="block-title">Pelaku Usaha</h4>
                                    <p>Pelaku Usaha adalah setiap orang perorangan atau badan
                                        usaha, baik yang berbentuk badan hukum maupun bukan
                                        badan hukum yang didirikan dan berkedudukan atau
                                        melakukan kegiatan dalam wilayah hukum negara
                                        Republik Indonesia, baik sendiri maupun bersama-sama
                                        melalui perjanjian menyelenggarakan kegiatan usaha
                                        dalam berbagai bidang ekonomi</p>
                                </div>
                                <div id="is8" class="section-block">
                                    <h4 class="block-title">Barang</h4>
                                    <p>Barang adalah setiap benda baik berwujud maupun tidak
                                        berwujud, bergerak maupun tidak bergerak, yang dapat
                                        diperdagangkan, dipakai, dipergunakan atau
                                        dimanfaatkan oleh Pengguna Barang</p>
                                </div>
                                <div id="is9" class="section-block">
                                    <h4 class="block-title">Pekerjaan Konstruksi</h4>
                                    <p>Pekerjaan Konstruksi adalah keseluruhan atau sebagian
                                        kegiatan yang meliputi pembangunan, pengoperasian,
                                        pemeliharaan, pembongkaran, dan pembangunan kembali
                                        suatu bangunan</p>
                                </div>
                                <div id="is10" class="section-block">
                                    <h4 class="block-title">Jasa Konsultansi</h4>
                                    <p>Jasa Konsultansi adalah jasa layanan profesional yang
                                        membutuhkan keahlian tertentu diberbagai bidang
                                        keilmuan yang mengutamakan adanya olah pikir</p>
                                </div>
                                <div id="is11" class="section-block">
                                    <h4 class="block-title">Jasa Lainnya</h4>
                                    <p>Jasa Lainnya adalah jasa non-konsultansi atau jasa yang
                                        membutuhkan peralatan, metodologi khusus, dan/atau
                                        keterampilan dalam suatu sistem tata kelola yang telah
                                        dikenal luas di dunia usaha untuk menyelesaikan suatu
                                        pekerjaan</p>
                                </div>
                                <div class="callout-block callout-success">
                                    <div class="icon-holder">
                                        <i class="fas fa-thumbs-up"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="callout-title">Useful Tip:</h4>
                                        <p>Barang, pekerjaan konstruksi, jasa konsultansi dan jasa lainnya adalah jenis pengadaan atau dalam bahasa sederhananya adalah ruang lingkup </p>
                                    </div>
                                </div>
                                <div id="is12" class="section-block">
                                    <h4 class="block-title">E purchasing</h4>
                                    <p>E purchasing adalah adalah tata cara pembelian barang/jasa
                                        melalui sistem katalog elektronik <br>( https://e-katalog.lkpp.go.id )</p>
                                </div>
                                <div id="is13" class="section-block">
                                    <h4 class="block-title">Tender</h4>
                                    <p>Tender adalah metode pemilihan untuk mendapatkan
                                        Penyedia Barang/Pekerjaan Konstruksi/Jasa Lainnya, tender di eksekusi pada aplikasi SPSE di masing masing pemerintahan</p>
                                </div>
                                <div class="callout-block callout-success">
                                    <div class="icon-holder">
                                        <i class="fas fa-thumbs-up"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="callout-title">Useful Tip:</h4>
                                        <p>Pada dasarnya semua paket pengadaan dapat di tenderkan tanpa ada batasan nilai,
                                            namun tetap mengacu kepada prinsip pengadaan, contoh: apakah waktu dapat efisien apabila barang di bawah 200 juta di tender kan?</p>
                                    </div>
                                </div>
                                <div id="is14" class="section-block">
                                    <h4 class="block-title">Seleksi</h4>
                                    <p>Seleksi adalah metode pemilihan untuk mendapatkan
                                        Penyedia Jasa Konsultansi</p>
                                </div>
                                <div id="is15" class="section-block">
                                    <h4 class="block-title">Penunjukan Langsung</h4>
                                    <p>Penunjukan Langsung adalah metode pemilihan untuk
                                        mendapatkan Penyedia Barang/Pekerjaan
                                        Konstruksi/Jasa Konsultansi/Jasa Lainnya dalam
                                        keadaan tertentu</p>
                                </div>
                                <div id="is16" class="section-block">
                                    <h4 class="block-title">Pengadaan Langsung</h4>
                                    <p>Pengadaan Langsung Barang/Pekerjaan Konstruksi/Jasa
                                        Lainnya adalah metode pemilihan untuk mendapatkan
                                        Penyedia Barang/Pekerjaan Konstruksi/Jasa Lainnya
                                        yang bernilai paling banyak dua ratus
                                        juta rupiah</p>
                                </div>
                                <div class="callout-block callout-success">
                                    <div class="icon-holder">
                                        <i class="fas fa-thumbs-up"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="callout-title">Useful Tip:</h4>
                                        <p>Untuk pengadaan langsung pada jasa konsultansi maksimal bernilai paling banya seratus juta rupiah, apabila di atas seratus juta maka wajib tender</p>
                                    </div>
                                </div>
                            </section>
                            <section id="tujuanpengadaan" class="doc-section">
                                <h2 class="section-title">Tujuan, Prinsip dan Etika Pengadaan</h2>
                                <div id="tuj1" class="section-block">
                                    <h4 class="block-title">Tujuan Pengadaan</h4>
                                    <p>Pengadaan Barang/Jasa bertujuan untuk:<br>
                                        1. Menghasilkan barang/jasa yang tepat dari setiap uang yang dibelanjakan, diukur dari aspek kualitas, jumlah, waktu, &nbsp;&nbsp;&nbsp;biaya, lokasi, dan Penyedia<br>
                                        2. Meningkatkan penggunaan produk dalam negeri<br>
                                        3. Meningkatkan peran serta Usaha Mikro, Usaha Kecil, dan Usaha Menengah<br>
                                        4. Meningkatkan peran pelaku usaha nasional<br>
                                        5. Mendukung pelaksanaan penelitian dan pemanfaatan barang/jasa hasil penelitian<br>
                                        6. Meningkatkan keikutsertaan industri kreatif<br>
                                        7. Mendorong pemerataan ekonomi<br>
                                        8. Mendorong Pengadaan Berkelanjutan<br>
                                    </p>
                                </div>
                                <div id="tuj2" class="section-block">
                                    <h4 class="block-title">Prinsip Pengadaan</h4>
                                    <p>
                                        Pengadaan Barang/Jasa menerapkan prinsip sebagai berikut: <br>
                                        Efisien, Efektif, Transparan, Terbuka, Bersaing, Adil dan Akuntabel
                                    </p>
                                </div>
                                <div id="tuj3" class="section-block">
                                    <h4 class="block-title">Etika Pengadaan</h4>
                                    <p>
                                        Semua pihak yang terlibat dalam Pengadaan Barang/Jasa
                                        mematuhi etika sebagai berikut: <br>
                                        1. Melaksanakan tugas secara tertib, disertai rasa
                                        tanggung jawab untuk mencapai sasaran,
                                        kelancaran, dan ketepatan tujuan Pengadaan
                                        Barang/Jasa<br>
                                        2. Bekerja secara profesional, mandiri, dan menjaga
                                        kerahasiaan informasi yang menurut sifatnya harus
                                        dirahasiakan untuk mencegah penyimpangan
                                        Pengadaan Barang/Jasa<br>
                                        3. Tidak saling mempengaruhi baik langsung maupun
                                        tidak langsung yang berakibat persaingan usaha
                                        tidak sehat<br>
                                        4. Menerima dan bertanggung jawab atas segala
                                        keputusan yang ditetapkan sesuai dengan
                                        kesepakatan tertulis pihak &nbsp;&nbsp;&nbsp;&nbsp;yang terkait;<br>
                                        5. Menghindari dan mencegah terjadinya pertentangan
                                        kepentingan pihak yang terkait, baik secara langsung
                                        maupun &nbsp;&nbsp;&nbsp;&nbsp;tidak langsung, yang berakibat persaingan
                                        usaha tidak sehat dalam Pengadaan Barang/Jasa<br>
                                        6. Menghindari dan mencegah pemborosan dan
                                        kebocoran keuangan negara<br>
                                        7. Menghindari dan mencegah penyalahgunaan
                                        wewenang dan/atau kolusi<br>
                                        8. Tidak menerima, tidak menawarkan, atau tidak
                                        menjanjikan untuk memberi atau menerima hadiah,
                                        imbalan, komisi, &nbsp;&nbsp;&nbsp;&nbsp;rabat, dan apa saja dari atau kepada
                                        siapapun yang diketahui atau patut diduga berkaitan
                                        dengan Pengadaan &nbsp;&nbsp;&nbsp;&nbsp;Barang/Jasa.
                                    </p>
                                </div>
                            </section>
                            <section id="contohkasus" class="doc-section">
                                <h2 class="section-title">Contoh Kasus Sederhana</h2>
                                <div class="callout-block callout-info" style="margin-top:10px;">
                                    <div class="icon-holder">
                                        <i class="fas fa-info-circle"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="callout-title">Useful Tip:</h4>
                                        <p>Kita dapat mensederhanakan pelaksanaan pengadaan menjadi dua hal yaitu kelompok <b>tender</b> dan kelompok <b>non tender</b></p>
                                    </div>
                                </div>

                                <div id="con1" class="section-block">
                                    <h4 class="block-title">Contoh kasus pengadaan yang dapat di laksanakan dengan cara non tender</h4>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th colspan="4" style="text-align: center">KELOMPOK NON TENDER</th>
                                        </tr>
                                        <tr>
                                            <th scope="col" width="10" style="text-align: center">No.</th>
                                            <th scope="col" class="col-md-2" style="text-align: center">Metode Pemilihan</th>
                                            <th scope="col" class="col-md-2" style="text-align: center">Jenis Pengadaan</th>
                                            <th scope="col" style="text-align: center">Penjelasan Dan Contoh Kasus</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row"><p>1</p></th>
                                            <td scope="row"><p>Pengadaan Langsung</p></td>
                                            <td scope="row"><p>Barang, Pekerjaan Konstruksi dan Jasa Lainnya</p></td>
                                            <td scope="row">
                                                <p>
                                                    Apabila pemerintah belanja dengan jenis barang atau pekerjaan konstruksi atau jasa lainnya dengan nilai kontrak
                                                    paling banyak 200 juta (<= 200 JT), maka di perbolehkan menggunakan pengadaan langsung. <br>
                                                    Contoh kasus : Kementerian Pendidikan membutuhkan jamuan rapat, seperti snack, minuman dan sebagainya,
                                                    apabila anggarannya di bawah 200 juta maka kemendikbud dapat langsung memilih penyedia untuk berkontrak dengannya.
                                                    Dalam kasus ini berarti kemendikbud butuh barang, dan dapat menggunakan pengadaan langsung.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><p>2</p></th>
                                            <td scope="row"><p>Pengadaan Langsung</p></td>
                                            <td scope="row"><p>Jasa Konsultansi</p></td>
                                            <td scope="row">
                                                <p>
                                                    Apabila pemerintah belanja dengan jenis jasa konsultansi dengan nilai kontrak
                                                    paling banyak 100 juta (<= 100 JT), maka di perbolehkan menggunakan pengadaan langsung. <br>
                                                    Contoh kasus : Kementerian Dalam Negeri membutuhkan jasa konsultan untuk melakukan analisa data anggaran pemerintah daerah, apabila
                                                    anggarannya di bawah 100 juta maka kemendagri dapat langsung memilih penyedia untuk berkontrak dengannya.
                                                    Dalam kasus ini berarti kemendagri butuh konsultan, dan dapat menggunakan pengadaan langsung.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><p>3</p></th>
                                            <td scope="row"><p>Penunjukan Langsung</p></td>
                                            <td scope="row"><p>Barang, Pekerjaan Konstruksi, Jasa Konsultansi dan Jasa Lainnya</p></td>
                                            <td scope="row">
                                                <p>
                                                    Apabila pemerintah belanja dengan jenis barang, pekerjaan Konstruksi, jasa konsultansi dan jasa lainnya, namun dalam kasus ini
                                                    mengalami keadaan darurat contoh bencana alam, keaadaan yang harus segera mendapatkan penyedia atau
                                                    sudah melakukan tender namun 3x gagal tender maka di perbolehkan menggunakan penunjukan langsung. <br>
                                                    Contoh kasus : Kementerian Perindustrian membutuhkan jasa konsultan untuk mengerjakan proyek machine learning dengan nilai kontrak lebih dari 100 juta maka wajib tender,
                                                    namun ketika sudah melakukan proses tender, selalu gagal tender sebanyak 3x, maka kemenperin diperbolehkan menggunakan penunjukan langsung, artinya kemenperin boleh menunjuk langsung
                                                    siapa penyedia yang berkontrak dengannya tanpa harus melakukan proses tender lagi.
                                                </p>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div id="con2" class="section-block">
                                    <h4 class="block-title">Contoh kasus pengadaan yang wajib di laksanakan dengan cara tender</h4>
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th colspan="4" style="text-align: center">KELOMPOK TENDER</th>
                                        </tr>
                                        <tr>
                                            <th scope="col" width="10" style="text-align: center">No.</th>
                                            <th scope="col" class="col-md-2" style="text-align: center">Metode Pemilihan</th>
                                            <th scope="col" class="col-md-2" style="text-align: center">Jenis Pengadaan</th>
                                            <th scope="col" style="text-align: center">Penjelasan Dan Contoh Kasus</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row"><p>1</p></th>
                                            <td scope="row"><p>Tender</p></td>
                                            <td scope="row"><p>Barang, Pekerjaan Konstruksi dan Jasa Lainnya</p></td>
                                            <td scope="row">
                                                <p>
                                                    Apabila pemerintah belanja dengan jenis barang atau pekerjaan konstruksi atau jasa lainnya dengan nilai kontrak
                                                    lebih dari 200 juta (> 200 JT), maka wajib menggunakan proses tender, untuk proses tender dapat membukan alamat website SPSE masing masing instansi. <br>
                                                    Contoh kasus : Kementerian Pendidikan membutuhkan mobil untuk pejabat eselon senilai 500 juta,
                                                    maka penyedia dapat mengajukan penawaran di alamat https://lpse.kemdikbud.go.id/eproc4
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row"><p>2</p></th>
                                            <td scope="row"><p>Seleksi</p></td>
                                            <td scope="row"><p>Jasa Konsultansi</p></td>
                                            <td scope="row">
                                                <p>
                                                    Apabila pemerintah belanja dengan jenis jasa konsultansi dengan nilai kontrak
                                                    lebih dari 100 juta <br>(> 100 JT), maka wajib menggunakan proses tender, untuk proses tender dapat membukan alamat website SPSE masing masing instansi. <br>
                                                    Contoh kasus : Kementerian Dalam Negeri membutuhkan jasa konsultan data scientist untuk membuat proyek big data senilai 200 juta
                                                    maka penyedia dapat mengajukan penawaran di alamat https://lpse.kemendagri.go.id/eproc4/
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </section>

                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
                        <div id="doc-nav" class="doc-nav">
                            <nav id="doc-menu" class="nav doc-menu flex-column sticky" style="margin-right:1000px;">
                                <a class="nav-link scrollto" href="#istilah-section">Istilah Dalam Pengadaan</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#is1">Pengadaan Barang Jasa</a>
                                    <a class="nav-link scrollto" href="#is2">Pengguna Anggaran</a>
                                    <a class="nav-link scrollto" href="#is3">Kuasa Pengguna Anggaran</a>
                                    <a class="nav-link scrollto" href="#is4">Pejabat Pembuat Komitmen </a>
                                    <a class="nav-link scrollto" href="#is5">Swakelola</a>
                                    <a class="nav-link scrollto" href="#is6">Penyedia</a>
                                    <a class="nav-link scrollto" href="#is7">Pelaku Usaha</a>
                                    <a class="nav-link scrollto" href="#is8">Barang</a>
                                    <a class="nav-link scrollto" href="#is9">Pekerjaan Konstruksi</a>
                                    <a class="nav-link scrollto" href="#is10">Jasa Konsultansi</a>
                                    <a class="nav-link scrollto" href="#is11">Jasa Lainnya</a>
                                    <a class="nav-link scrollto" href="#is12">E purchasing</a>
                                    <a class="nav-link scrollto" href="#is13">Tender</a>
                                    <a class="nav-link scrollto" href="#is14">Seleksi</a>
                                    <a class="nav-link scrollto" href="#is15">Penunjukan Langsung</a>
                                    <a class="nav-link scrollto" href="#is16">Pengadaan Langsung</a>
                                </nav>
                                <a class="nav-link scrollto" href="#tujuanpengadaan">Tujuan, Prinsip dan Etika Pengadaan</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#tuj1">Tujuan Pengadaan</a>
                                    <a class="nav-link scrollto" href="#tuj2">Prinsip Pengadaan</a>
                                    <a class="nav-link scrollto" href="#tuj3">Etika Pengadaan</a>
                                </nav>
                                <a class="nav-link scrollto" href="#tujuanpengadaan">Tujuan, Prinsip dan Etika Pengadaan</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#tuj1">Tujuan Pengadaan</a>
                                    <a class="nav-link scrollto" href="#tuj2">Prinsip Pengadaan</a>
                                    <a class="nav-link scrollto" href="#tuj3">Etika Pengadaan</a>
                                </nav>
                                <a class="nav-link scrollto" href="#contohkasus">Contoh Kasus Sederhana</a>
                                <nav class="doc-sub-menu nav flex-column">
                                    <a class="nav-link scrollto" href="#con1">Kelompok Non Tender</a>
                                    <a class="nav-link scrollto" href="#con2">Kelompok Wajib Tender</a>
                                </nav>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="@{'/public/assetsP/plugins/prism/prism.js'}"></script>
<script type="text/javascript" src="@{'/public/assetsP/plugins/jquery-scrollTo/jquery.scrollTo.min.js'}"></script>
<script type="text/javascript" src="@{'/public/assetsP/plugins/stickyfill/dist/stickyfill.min.js'}"></script>



