#{extends 'main.html' /} #{set title:'Panduan PBJ' /}
<div class="what-we-do">
<div class="first">
    <div class="we-create-area create-padding" style="margin-top: -130px;">
        <div class="container">
                <div class="col-lg-6 col-md-12">
                    <div class="we-create-img">
                        <img src="@{'public/assets/img/panduan/satu1.png'}" alt="" style="float:left;">
                    </div>
                </div>
                <div >
                    <div class="we-create-cap">
                        <h2>Apa itu Pengadaan Barang Jasa Pemerintah</h2>
                        <p>Penjelasan sederhananya pengadaan itu adalah belanja, nah setiap pemerintah itu pasti punya kebutuhan belanja barang dan jasa
                            untuk mendukung kegiatannya, kebutuhan tersebut dapat di peroleh dengan cara <b>tender</b> dan <b>
                            non tender</b>.<br>Dengan cara tender artinya mendapatkan barang jasa melalui aplikasi SPSE
                            (Sistem Pengadaan Secara Elektronik) yang sudah tersedia di setiap pemerintah dan dengan cara non tender artinya mendapatkan
                            barang jasa pemerintah tidak menggunakan SPSE, pemerintah dapat menentukan siapa penyedia yang
                            dipilih untuk berkontrak dengannya menyediakan barang jasa yang di butuhkan.</p>
                        <a href="#" class="genric-btn success circle" id="first">Cari tau lebih dalam terkait tender dan non tender</a>
                    </div>
                </div>

        </div>
    </div>
</div>


    <div class="we-create-area create-padding"  style="margin-top: -100px;">
        <div class="container" id="second">
            <div class="col-lg-6 col-md-12">
                <div class="we-create-img">
                    <img src="@{'public/assets/img/panduan/dua1.png'}" alt="" style="float:left;">
                </div>
            </div>
            <div>
                <div class="we-create-cap">
                    <h2>Jenis Pengadaan dan Metode Pemilihan</h2>
                    <p>
                        Tender dan non tender adalah pengelompokan metode pemilihan secara sederhana berdasarkan jenis pengadaan,
                        jenis pengadaan terdiri dari: <br>
                        &nbsp;&nbsp;1. Barang<br>
                        &nbsp;&nbsp;2. Pekerjaan Konstruksi<br>
                        &nbsp;&nbsp;3. Jasa Konsultansi<br>
                        &nbsp;&nbsp;4. Jasa Lainnya<br>
                        Bahasa sederhananya jenis pengadaan adalah ruang lingkup. Hubungannya apa antara metode pemilihan dan jenis pengadaan?
                        Bagaimana contoh kasusnya? cek tabel di bawah ya.
                    </p>
                </div>
            </div>
        </div>
    </div>

<div class="container" style="margin-top : -100px;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="4" style="text-align: center">KELOMPOK NON TENDER</th>
        </tr>
        <tr>
            <th scope="col" width="10" style="text-align: center">No.</th>
            <th scope="col" class="col-md-2" style="text-align: center">Metode Pemilihan</th>
            <th scope="col" class="col-md-2" style="text-align: center">Jenis Pengadaan</th>
            <th scope="col" style="text-align: center">Penjelasan Dan Contoh Kasus</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><p>1</p></th>
            <td scope="row"><p>Pengadaan Langsung</p></td>
            <td scope="row"><p>Barang, Pekerjaan Konstruksi dan Jasa Lainnya</p></td>
            <td scope="row">
                <p>
                    Apabila pemerintah belanja dengan jenis barang atau pekerjaan konstruksi atau jasa lainnya dengan nilai kontrak
                paling banyak 200 juta (<= 200 JT), maka di perbolehkan menggunakan pengadaan langsung. <br>
                Contoh kasus : Kementerian Pendidikan membutuhkan jamuan rapat, seperti snack, minuman dan sebagainya,
                apabila anggarannya di bawah 200 juta maka kemendikbud dapat langsung memilih penyedia untuk berkontrak dengannya.
                Dalam kasus ini berarti kemendikbud butuh barang, dan dapat menggunakan pengadaan langsung.
                </p>
            </td>
        </tr>
        <tr>
            <th scope="row"><p>2</p></th>
            <td scope="row"><p>Pengadaan Langsung</p></td>
            <td scope="row"><p>Jasa Konsultansi</p></td>
            <td scope="row">
                <p>
                    Apabila pemerintah belanja dengan jenis jasa konsultansi dengan nilai kontrak
                paling banyak 100 juta (<= 100 JT), maka di perbolehkan menggunakan pengadaan langsung. <br>
                Contoh kasus : Kementerian Dalam Negeri membutuhkan jasa konsultan untuk melakukan analisa data anggaran pemerintah daerah, apabila
                anggarannya di bawah 100 juta maka kemendagri dapat langsung memilih penyedia untuk berkontrak dengannya.
                Dalam kasus ini berarti kemendagri butuh konsultan, dan dapat menggunakan pengadaan langsung.
                </p>
            </td>
        </tr>
        <tr>
            <th scope="row"><p>3</p></th>
            <td scope="row"><p>Penunjukan Langsung</p></td>
            <td scope="row"><p>Barang, Pekerjaan Konstruksi, Jasa Konsultansi dan Jasa Lainnya</p></td>
            <td scope="row">
                <p>
                    Apabila pemerintah belanja dengan jenis barang, pekerjaan Konstruksi, jasa konsultansi dan jasa lainnya, namun dalam kasus ini
                    mengalami keadaan darurat contoh bencana alam, keaadaan yang harus segera mendapatkan penyedia atau
                    sudah melakukan tender namun 3x gagal tender maka di perbolehkan menggunakan penunjukan langsung. <br>
                    Contoh kasus : Kementerian Perindustrian membutuhkan jasa konsultan untuk mengerjakan proyek machine learning dengan nilai kontrak lebih dari 100 juta maka wajib tender,
                    namun ketika sudah melakukan proses tender, selalu gagal tender sebanyak 3x, maka kemenperin diperbolehkan menggunakan penunjukan langsung, artinya kemenperin boleh menunjuk langsung
                    siapa penyedia yang berkontrak dengannya tanpa harus melakukan proses tender lagi.
                </p>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div class="container" style="margin : 100px auto 50px auto;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="4" style="text-align: center">KELOMPOK TENDER</th>
        </tr>
        <tr>
            <th scope="col" width="10" style="text-align: center">No.</th>
            <th scope="col" class="col-md-2" style="text-align: center">Metode Pemilihan</th>
            <th scope="col" class="col-md-2" style="text-align: center">Jenis Pengadaan</th>
            <th scope="col" style="text-align: center">Penjelasan Dan Contoh Kasus</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><p>1</p></th>
            <td scope="row"><p>Tender</p></td>
            <td scope="row"><p>Barang, Pekerjaan Konstruksi dan Jasa Lainnya</p></td>
            <td scope="row">
                <p>
                    Apabila pemerintah belanja dengan jenis barang atau pekerjaan konstruksi atau jasa lainnya dengan nilai kontrak
                    lebih dari 200 juta (> 200 JT), maka wajib menggunakan proses tender, untuk proses tender dapat membukan alamat website SPSE masing masing instansi. <br>
                    Contoh kasus : Kementerian Pendidikan membutuhkan mobil untuk pejabat eselon senilai 500 juta,
                    maka penyedia dapat mengajukan penawaran di alamat https://lpse.kemdikbud.go.id/eproc4
                </p>
            </td>
        </tr>
        <tr>
            <th scope="row"><p>2</p></th>
            <td scope="row"><p>Seleksi</p></td>
            <td scope="row"><p>Jasa Konsultansi</p></td>
            <td scope="row">
                <p>
                    Apabila pemerintah belanja dengan jenis jasa konsultansi dengan nilai kontrak
                    lebih dari 100 juta <br>(> 100 JT), maka wajib menggunakan proses tender, untuk proses tender dapat membukan alamat website SPSE masing masing instansi. <br>
                    Contoh kasus : Kementerian Dalam Negeri membutuhkan jasa konsultan data scientist untuk membuat proyek big data senilai 200 juta
                    maka penyedia dapat mengajukan penawaran di alamat https://lpse.kemendagri.go.id/eproc4/
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="@{MonevCtr.daftarKlpd()}" class="genric-btn info circle" id="first">lihat daftar anggaran</a>
</div>
</div>


<script>
$("#first").click(function() {
  $('html,body').animate({
      scrollTop: $("#second").offset().top -100
  },
    'slow');
});
</script>