<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/af-2.3.5/b-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.7/kt-2.5.3/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/af-2.3.5/b-1.6.5/cr-1.5.3/fc-3.3.2/fh-3.1.7/kt-2.5.3/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.1/datatables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<script type="text/javascript">
$(document).ready(function() {


	var oTable = oTable = $('#nonTenderTable').dataTable({
		aoColumns: [
            { 	"sWidth": "2%",  "bSortable": false },
            { 	"sWidth": "53%", "bSortable": false, className:"nm_pkt" },
            { 	"sWidth": "10%", "bSortable": false },
            { 	"sWidth": "10%", "bSortable": false },
            { 	"sWidth": "10%", "bSortable": false },
            { 	"sWidth": "15%", "bSortable": true, render: $.fn.dataTable.render.number( '.', ',', 0, 'Rp. ',' ' ) },
	 	],


        pagingType: "full_numbers",
        processing: true,
        serverSide: true,
        sAjaxSource: "@{DataTableCtr.dataTableNonTenderKldi(_kdKlpd,_tahun)}",
        drawCallback: function ( oSettings ) {
 			/* Need to redo the counters if filtered or sorted */
            if ( oSettings ){
                for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ ){
                   $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1+oSettings._iDisplayStart);
                }
            }

            /* search on enter column filter */
            $('.text_filter')
            .unbind()
            .bind('keyup', function(e){
                if (e.keyCode != 13 ) return;
                else
                    oTable.fnFilter(this.value, $(this).closest('tfoot th').index());
            });
 		},
 		language: {
            "sLengthMenu":   "Tampilkan _MENU_ entri",
            "sZeroRecords":  "Tidak ditemukan data yang sesuai",
            "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
            "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
            "sInfoFiltered": "",
            "sInfoPostFix":  "",
            "sSearch":       "Cari:",
            "sUrl":          "",
            "thousands":     ".",
            "oPaginate": {
                "sFirst":    "Pertama",
                "sPrevious": "Sebelumnya",
                "sNext":     "Selanjutnya",
                "sLast":     "Terakhir"
            },
        },


    });
});

</script>